<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Access Control List Manager <%= AccessControl::VERSION %></title>

    <!-- Bootstrap Core CSS -->
    <link href="/assets/access_control/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/assets/access_control/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="/assets/access_control/plugins/dataTables.bootstrap.css" rel="stylesheet">
    
    <!-- Chosen CSS -->
    <link href="/assets/access_control/chosen.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="/assets/access_control/plugins/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/assets/access_control/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/assets/access_control/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/assets/access_control/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <link href="/assets/access_control/ios7-checkbox.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <%= render '/access_control/shared/header' %>

        <div id="page-wrapper">
        <%= yield %>
        </div>
        <!-- /#page-wrapper -->
        
        <%= render partial: '/access_control/permissions/new_module', layout:'access_control/shared/modal', :locals => { :modalname => 'add_module' } %>
    </div>
    <%= javascript_include_tag 'access_control/access_control' %>
    </body>

</html>
